
<div class="pageheader">
  <h2>Comparação de Soluções Construtivas</h2>
  <p class="description">Comparar os Impactos Ambientais entre Soluções Construtivas</p>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">Estás aqui:</span>
    <ol class="breadcrumb">
      <li class="active">Comparação de Soluções Construtivas</li>
      <li class="active">Escolher soluções</li>
    </ol>
  </div>
</div>
<section id="main-content" class="animated fadeInUp" >
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body" style="min-height: 600px">
          <div><%= form_for :solutions_compare_results, as: :post, url: "/compare-results", :html => {:class => 'form-horizontal form-border'}  do |f| %>
            <%= f.submit "Comparar", :class => "btn btn-success" %>
            <% @construsolutions.each do |constr| %>
             <table class="table table-bordered">
            <tr>
              <td> Solução Construtiva </td>
              <td colspan="8"> <%= constr.construtype == 0 ? "Elemento não ventilado" : "Elemento ventilado" %> : <%= constr.name %> </td>
              <td> Ref: <%= constr.ref %> </td>
            </tr>
            <tr>
               <td rowspan="<%= constr.material_compositions.count + 6 %>"> Image </td>
              <td class="header"  rowspan="2"> Fase de ciclo de vida </td>
              <td class="header" colspan="6"> Categorias de impacto Ambiental LCA</td>
              <td class="header" colspan="2"> Energia incorporada </td>
            </tr>
            <tr class="header"> 
              <td>ADP <div class="measure">(kb Sb eq)</div></td>
              <td>GWP <div class="measure">(Kg CO<span style="font-size: 8px">2</span> eq)</div></td>
              <td>ODP <div class="measure">(Kg CGC-11 eq)</div></td>
              <td>AP <div class="measure">(Kg SO<span style="font-size: 8px">2</span> eq)</div></td>
              <td>POPC <div class="measure">(Kg C<span style="font-size: 8px">2</span>H<span style="font-size: 8px">4</span> eq)</div></td>
              <td>EP <div class="measure">(Kg PO4 eq)</div></td>
              <td>ENR <div class="measure">(MJ eq)</div></td>
              <td>ER <div class="measure">(MJ eq)</div></td>
            </tr>
            <tr> 
              <td>Cradle-to-gate</td>
              <td class="value-field"><%= "%.2E" % constr.calcImpacts[:adp] %> </td>
              <td class="value-field"><%= "%.2E" % constr.calcImpacts[:gwp] %></td>
              <td class="value-field"><%= "%.2E" % constr.calcImpacts[:odp] %></td>
              <td class="value-field"><%= "%.2E" % constr.calcImpacts[:ap] %></td>
              <td class="value-field"><%= "%.2E" % constr.calcImpacts[:pocp] %></td>
              <td class="value-field"><%= "%.2E" % constr.calcImpacts[:ep] %></td>
              <td class="value-field"><%= "%.2E" % constr.calcImpacts[:enr] %></td>
              <td class="value-field"><%= "%.2E" % constr.calcImpacts[:er] %></td>
            </tr>
            <tr>
              <td class="header"  rowspan="2"> Materiais Considerados </td>
              <td class="header" colspan="2"> Quantidade por m<sub>2</sub> </td>
              <td class="header" colspan="2"> Tipo de transporte </td>
              <td class="header" colspan="4"> Distância </td>
            </tr>
            <tr class="header"> 
              <td colspan="2">kg / m<sub>2</sub></td>
              <td class="header" colspan="2"> Selecione o transporte </td>
              <td class="header" colspan="4"> Selecione a distância </td>

            </tr>

            <%= f.fields_for "#{constr.id}" do |ff| %>
              <% constr.material_compositions.each do |m| %>
              <%= ff.fields_for "#{m.id}" do |fff| %>
                <tr>
                  <td> <%= m.description %> </td>
                  <td colspan="2" class="value-field"><%= '%.2f' % m.calcWeight.round(2) %> </td>
                  <td colspan="2" class="value-field"> <%= fff.select "transport", Transport.all.collect {|x| [x.name, x.id]}, {}, {:multiple => false, :class => "chosen-select", :style=>"min-width:200px !important;max-width:400px !important"} %> </td>
                  <td colspan="4" class="value-field"><%= fff.number_field("distance", in: 0..9999.0) %> </td>
                </tr>
              <%end%><%end%>
            <%end%>
           

            <tr>
              <td colspan="10">Método(s) de LCA: CML 2 baseline 2000 versão 3.02 (para avaliar o Impacto ambiental) e Cumulative Energy Demand versão 1.09 (Para avaliar a energia)</td>
            </tr>
            <tr>
              <td colspan="10">Bibliotecas do LCI: Ecoinvent system process</td>
            </tr>
            
          </table>
          <%end%><%= f.submit "Comparar", :class => "btn btn-success" %>
           <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


