
<div class="pageheader">
  <h2>Resultados de Comparação de Soluções Construtivas</h2>
  <p class="description">Resultados dos Impactos Ambientais entre Soluções Construtivas</p>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">Estás aqui:</span>
    <ol class="breadcrumb">
      <li class="active">Comparação de Soluções Construtivas</li>
      <li class="active">Resultados</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body" style="min-height: 200px"> 
          <% @results.each do |constr, constr_params| %>
             <table class="table table-bordered">
            <tr>
              <td> Solução Construtiva </td>
              <td colspan="8"> <%= constr_params[:constr].construtype == 0 ? "Elemento não ventilado" : "Elemento ventilado" %> : <%= constr_params[:constr].name %> </td>
              <td colspan="3"> Ref: <%= constr_params[:constr].ref %> </td>
            </tr>
            <tr>
              <td class="header" rowspan="2" colspan="1">  </td>
              <td class="header" colspan="6"> Categorias de impacto Ambiental LCA</td>
              <td class="header" colspan="2"> Energia incorporada </td>
              <td class="header" colspan="3">  </td>
            </tr>
            <tr class="header"> 
              <td>ADP <div class="measure">(kb Sb eq)</div></td>
              <td>GWP <div class="measure">(Kg CO<span style="font-size: 8px">2</span> eq)</div></td>
              <td>ODP <div class="measure">(Kg CGC-11 eq)</div></td>
              <td>AP <div class="measure">(Kg SO<span style="font-size: 8px">2</span> eq)</div></td>
              <td>POPC <div class="measure">(Kg C<span style="font-size: 8px">2</span>H<span style="font-size: 8px">4</span> eq)</div></td>
              <td>EP <div class="measure">(Kg PO4 eq)</div></td>
              <td>ENR <div class="measure">(MJ eq)</div></td>
              <td>ER <div class="measure">(MJ eq)</div></td>
              <td>Custo Construção<div class="measure"><div class="measure">(€/m<sup>2</sup>)</div></div></td>
              <td>Custo Manutenção<div class="measure"><div class="measure">(€/m<sup>2</sup>)</div></div></td>
              <td>U <div class="measure"><div class="measure">(W/m<sub>2</sub>.ºC)</div></div></td>
            </tr>
            <tr style="font-weight: 600;background:#cee3e5"> 
              <td>Total</td>
              <td class="value-field" style="background: yellow; color: black " id="adp<%= constr_params[:constr].id %>"><%= "%.2E" % (constr_params[:impacts][:adp] + constr_params[:constr].calcImpacts[:adp]) %> </td>
              <td class="value-field" style="background: yellow; color: black " id="gwp<%= constr_params[:constr].id %>"><%= "%.2E" % (constr_params[:impacts][:gwp] + constr_params[:constr].calcImpacts[:gwp]) %></td>
              <td class="value-field" style="background: yellow; color: black " id="odp<%= constr_params[:constr].id %>"><%= "%.2E" % (constr_params[:impacts][:odp] + constr_params[:constr].calcImpacts[:odp]) %></td>
              <td class="value-field" style="background: yellow; color: black " id="ap<%= constr_params[:constr].id %>"><%= "%.2E" % (constr_params[:impacts][:ap] + constr_params[:constr].calcImpacts[:ap]) %></td>
              <td class="value-field" style="background: yellow; color: black " id="popc<%= constr_params[:constr].id %>"><%= "%.2E" % (constr_params[:impacts][:pocp] + constr_params[:constr].calcImpacts[:pocp]) %></td>
              <td class="value-field" style="background: yellow; color: black " id="ep<%= constr_params[:constr].id %>"><%= "%.2E" % (constr_params[:impacts][:ep] + constr_params[:constr].calcImpacts[:ep]) %></td>
              <td class="value-field" style="background: yellow; color: black " id="enr<%= constr_params[:constr].id %>"><%= "%.2E" % (constr_params[:impacts][:enr] + constr_params[:constr].calcImpacts[:enr]) %></td>
              <td class="value-field" style="background: yellow; color: black " id="er<%= constr_params[:constr].id %>"><%= "%.2E" % (constr_params[:impacts][:er] + constr_params[:constr].calcImpacts[:er]) %></td>
              <td class="value-field" style="background: yellow; color: black " id="costC<%= constr_params[:constr].id %>"><%= constr_params[:constr].costsC  %></td>
              <td class="value-field" style="background: yellow; color: black " id="costM<%= constr_params[:constr].id %>"><%= constr_params[:constr].costsM  %></td>
              <td class="value-field" style="background: yellow; color: black " id="u<%= constr_params[:constr].id %>"><%= @calcs["#{constr_params[:constr].id}"][:u] %></td>
            </tr>

            
          </table>
          <%end%>
    </div>
  </div>
</div>
<section id="main-content" class="animated fadeInUp" >
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body" style="min-height: 600px"> 
        <h1>Resultados descritivos das comparações</h1>
          <% @results.each do |constr, constr_params| %>
             <table class="table table-bordered">
            <tr>
              <td> Solução Construtiva </td>
              <td colspan="8"> <%= constr_params[:constr].construtype == 0 ? "Elemento não ventilado" : "Elemento ventilado" %> : <%= constr_params[:constr].name %> </td>
              <td> Ref: <%= constr_params[:constr].ref %> </td>
            </tr>
            <tr>
               <td rowspan="<%= constr_params[:materials].count + 7 %>"> Image  </td>
              <td class="header"  rowspan="2"> Fase de ciclo de vida </td>
              <td class="header" colspan="6"> Categorias de impacto Ambiental LCA</td>
              <td class="header" colspan="2"> Energia incorporada </td>
            </tr>
            <tr class="header"> 
              <td>ADP <div class="measure">(kb Sb eq)</div></td>
              <td>GWP <div class="measure">(Kg CO<span style="font-size: 8px">2</span> eq)</div></td>
              <td>ODP <div class="measure">(Kg CGC-11 eq)</div></td>
              <td>AP <div class="measure">(Kg SO<span style="font-size: 8px">2</span> eq)</div></td>
              <td>POPC <div class="measure">(Kg C<span style="font-size: 8px">2</span>H<span style="font-size: 8px">4</span> eq)</div></td>
              <td>EP <div class="measure">(Kg PO4 eq)</div></td>
              <td>ENR <div class="measure">(MJ eq)</div></td>
              <td>ER <div class="measure">(MJ eq)</div></td>
            </tr>
            <tr> 
              <td>Cradle-to-gate</td>
              <td class="value-field"><%= "%.2E" % constr_params[:constr].calcImpacts[:adp] %> </td>
              <td class="value-field"><%= "%.2E" % constr_params[:constr].calcImpacts[:gwp] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:constr].calcImpacts[:odp] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:constr].calcImpacts[:ap] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:constr].calcImpacts[:pocp] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:constr].calcImpacts[:ep] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:constr].calcImpacts[:enr] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:constr].calcImpacts[:er] %></td>
            </tr>
            <tr> 
              <td>Tank-to-wheel</td>
              <td class="value-field"><%= "%.2E" % constr_params[:impacts][:adp] %> </td>
              <td class="value-field"><%= "%.2E" % constr_params[:impacts][:gwp] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:impacts][:odp] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:impacts][:ap] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:impacts][:pocp] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:impacts][:ep] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:impacts][:enr] %></td>
              <td class="value-field"><%= "%.2E" % constr_params[:impacts][:er] %></td>
            </tr>
            <tr style="font-weight: 600;background:#cee3e5"> 
              <td>Total</td>
              <td class="value-field"><%= "%.2E" % (constr_params[:impacts][:adp] + constr_params[:constr].calcImpacts[:adp]) %> </td>
              <td class="value-field"><%= "%.2E" % (constr_params[:impacts][:gwp] + constr_params[:constr].calcImpacts[:gwp]) %></td>
              <td class="value-field"><%= "%.2E" % (constr_params[:impacts][:odp] + constr_params[:constr].calcImpacts[:odp]) %></td>
              <td class="value-field"><%= "%.2E" % (constr_params[:impacts][:ap] + constr_params[:constr].calcImpacts[:ap]) %></td>
              <td class="value-field"><%= "%.2E" % (constr_params[:impacts][:pocp] + constr_params[:constr].calcImpacts[:pocp]) %></td>
              <td class="value-field"><%= "%.2E" % (constr_params[:impacts][:ep] + constr_params[:constr].calcImpacts[:ep]) %></td>
              <td class="value-field"><%= "%.2E" % (constr_params[:impacts][:enr] + constr_params[:constr].calcImpacts[:enr]) %></td>
              <td class="value-field"><%= "%.2E" % (constr_params[:impacts][:er] + constr_params[:constr].calcImpacts[:er]) %></td>
            </tr>
            <tr>
              <td class="header"  rowspan="2"> Materiais Considerados </td>
              <td class="header" colspan="2"> Quantidade por m<sub>2</sub> </td>
              <td class="header" colspan="1"> Custo Construção</td>
              <td class="header" colspan="2"> Custo Manutenção</td>
              <td class="header" colspan="2"> Tipo de transporte </td>
              <td class="header" colspan="2"> Distância </td>
              
            </tr>
            <tr class="header"> 
              <td colspan="2">kg / m<sub>2</sub></td>
              <td class="header" colspan="1">€/m2 </td>
              <td class="header" colspan="2">€/m2 </td>
              <td class="header" colspan="2">  </td>
              <td class="header" colspan="2"> Km </td> 
            </tr>
 <% constr_params[:materials].each do |mat, mat_params| %>
           

             
                <tr>
                  <td> <%= mat_params["mat"].description%> </td>
                  <td colspan="2" class="value-field"> <%= "%.2E" % mat_params["mat"].calcWeight%> </td>
                  <td colspan="1" class="value-field"> <%= "%.2E" % mat_params["mat"][:construction_cost] %> </td>
                  <td colspan="2" class="value-field"> <%= "%.2E" % mat_params["mat"][:maintenance_cost] %> </td>
                  <td colspan="2" class="value-field"><%= mat_params["transport"].name%></td>
                  <td colspan="2" class="value-field"><%= "%.2E" % mat_params["distance"]%></td>
                </tr>
             
              <%end%>
          
              <td colspan="10">Método(s) de LCA: CML 2 baseline 2000 versão 3.02 (para avaliar o Impacto ambiental) e Cumulative Energy Demand versão 1.09 (Para avaliar a energia)</td>
            </tr>
            <tr>
              <td colspan="10">Bibliotecas do LCI: Ecoinvent system process</td>
            </tr>
            
          </table>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</section>


