
<div class="pageheader">
  <h2>Soluções Construtivas</h2>
  <p class="description">Consulta de lista de Soluções Construtivas</p>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">Estás aqui:</span>
    <ol class="breadcrumb">
      <li class="active">Soluções Construtivas</li>
      <li class="active">Consulta</li>
    </ol>
  </div>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <a href="/construsolutions/new">
            <div class="panel  widget-mini">
              <div class="panel-body">
                <i class="fa fa-fw fa-institution"></i>
                <span class="total text-center">Criar</span>
                <span class="title text-center">Solução Construtiva</span>
              </div>
            </div>
          </a>
        </div>
          </div>
        </div>
      </div>
    </section>

<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tabela de Consulta</h3>
          <div class="actions pull-right">
            <i class="fa fa-expand"></i>
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="panel-body">
          <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr class="designacoes">
                <th>REF.</th>
                <th width="30%">Nome</th>
                <th>Tipo</th>
                <th>ADP <div class="measure">(kb Sb eq)</div></th>
                <th>GWP <div class="measure">(Kg CO<span style="font-size: 8px">2</span> eq)</div></th>
                <th>ODP <div class="measure">(Kg CGC-11 eq)</div></th>
                <th>AP <div class="measure">(Kg SO<span style="font-size: 8px">2</span> eq)</div></th>
                <th>POPC <div class="measure">(Kg C<span style="font-size: 8px">2</span>H<span style="font-size: 8px">4</span> eq)</div></th>
                <th>EP <div class="measure">(Kg PO4 eq)</div></th>
                <th>ENR <div class="measure">(MJ eq)</div></th>
                <th>ER <div class="measure">(MJ eq)</div></th>
              </tr>
            </thead>
            <tbody>
              <% @construsolutions.each do |cons| %>
              <tr>
                <td><%= cons.ref %></td>
                <td><%= link_to cons.name, cons %></td>
                <td><%= cons.construtype == 0 ? "Não Ventilado" : "Ventilado" %></td>
                <td><%= "%.2E" % cons.calcImpacts[:adp]%></td>
                <td><%= "%.2E" % cons.calcImpacts[:gwp]%></td>
                <td><%= "%.2E" % cons.calcImpacts[:odp]%></td>
                <td><%= "%.2E" % cons.calcImpacts[:ap]%></td>
                <td><%= "%.2E" % cons.calcImpacts[:pocp]%></td>
                <td><%= "%.2E" % cons.calcImpacts[:ep]%></td>
                <td><%= "%.2E" % cons.calcImpacts[:enr]%></td>
                <td><%= "%.2E" % cons.calcImpacts[:er]%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


