<div class="pageheader">
  <h2>Materiais - Soluções Construtivas</h2>
  <p class="description">Consulta de lista de materiais e impactos ambientais</p>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li class="active">Blank Page</li>
    </ol>
  </div>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tabela de Consulta</h3>
          <div class="actions pull-right">
            <i class="fa fa-expand"></i>
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="panel-body">
          <%= link_to 'Voltar', construsolutions_path, :class=>"btn btn-info" %>
          <table class="table table-bordered">
            <tr>
              <td> Solução Construtiva </td>
              <td colspan="8"> <%= @construsolution.construtype == 0 ? "Parede não ventilada" : "Parede ventilada" %> : <%= @construsolution.name %> </td>
              <td colspan="2"> Ref: <%= @construsolution.ref %> </td>
            </tr>
            <tr>
               <td rowspan="<%= @construsolution.material_compositions.count + 6 %>"> <%= image_tag @construsolution.cimage.url(:medium) %> </td>
              <td class="header"  rowspan="2"> Fase de ciclo de vida </td>
              <td class="header" colspan="6"> Categorias de impacto Ambiental LCA</td>
              <td class="header" colspan="3"> Energia incorporada </td>
            </tr>
            <tr class="header"> 
              <td>ADP <div class="measure">(kb Sb eq)</div></td>
              <td>GWP <div class="measure">(Kg CO<span style="font-size: 8px">2</span> eq)</div></td>
              <td>ODP <div class="measure">(Kg CGC-11 eq)</div></td>
              <td>AP <div class="measure">(Kg SO<span style="font-size: 8px">2</span> eq)</div></td>
              <td>POcp <div class="measure">(Kg C<span style="font-size: 8px">2</span>H<span style="font-size: 8px">4</span> eq)</div></td>
              <td>EP <div class="measure">(Kg PO4 eq)</div></td>
              <td>ENR <div class="measure">(MJ eq)</div></td>
              <td colspan="2">ER <div class="measure">(MJ eq)</div></td>
            </tr>
            <tr> 
              <td>Cradle-to-gate</td>
              <td class="value-field"><%= "%.2E" % @calcs[:impacts][:adp] %> </td>
              <td class="value-field"><%= "%.2E" % @calcs[:impacts][:gwp] %></td>
              <td class="value-field"><%= "%.2E" % @calcs[:impacts][:odp] %></td>
              <td class="value-field"><%= "%.2E" % @calcs[:impacts][:ap] %></td>
              <td class="value-field"><%= "%.2E" % @calcs[:impacts][:pocp] %></td>
              <td class="value-field"><%= "%.2E" % @calcs[:impacts][:ep] %></td>
              <td class="value-field"><%= "%.2E" % @calcs[:impacts][:enr] %></td>
              <td class="value-field" colspan="2"><%= "%.2E" % @calcs[:impacts][:er] %></td>
            </tr>
            <tr>
              <td class="header"  rowspan="2"> Materiais Considerados (Exterior - Interior) </td>
              <td class="header" colspan="6"> Propriedades Térmicas</td>
              <td class="header"> Quantidade por m<sub>2</sub> </td>
              <td class="header" colspan="2"> Custos € / m<sub>2</sub> </td>
            </tr>
            <tr class="header"> 
              <td>e <div class="measure">(m)</div></td>
              <td>λ <div class="measure">(W/m.ºC)</div></td>
              <td>R si <div class="measure">(m<sub>2</sub>.ºC/W)</div></td>
              <td>R se <div class="measure">(m<sub>2</sub>.ºC/W)</div></td>
              <td>R <div class="measure">(m<sub>2</sub>.ºC/W)</div></td>
              <td>U <div class="measure">(W/m<sub>2</sub>.ºC)</div></td>
              <td>kg / m<sub>2</sub></td>
              <td>Construção</sub></td>
              <td>Manutenção</td>
            </tr>
            <tr class="hide-row">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td rowspan="<%= @construsolution.material_compositions.count + 1%>"> 0.13 </td>
                  <td rowspan="<%= @construsolution.material_compositions.count + 1%>"><% if @construsolution.construtype == 0 %>0.04 <% else %>0.13<% end %></td>
                  <td></td>
                  <td rowspan="<%= @construsolution.material_compositions.count + 1%>"> <%= @calcs[:u] %> </td>
                  <td></td>
                  <td></td>
                  
                </tr>

              <% @construsolution.material_compositions.each do |m| %>
                <tr>
                  <td> <%= m.description %> </td>
                  <td class="value-field"> <%='%.3f' % m.calcWidth%> </td>
                  <td class="value-field"> <%='%.4f' % m[:lambda].round(4) %> </td>
                  <td class="value-field"><%= '%.4f' % m.calcR.round(4) %></td>
                  <td class="value-field"><%= '%.2f' % m.calcWeight %> </td>
                  <td class="value-field"><%= '%.2f' % m.construction_cost %> </td>
                  <td class="value-field"><%= '%.2f' % m.maintenance_cost %> </td>
                  
                  

                </tr>
              <%end%>

            <tr>
              <td colspan="8">Método(s) de LCA: CML 2 baseline 2000 versão 3.02 (para avaliar o Impacto ambiental) e Cumulative Energy Demand versão 1.09 (Para avaliar a energia)</td>
              <td><b style="float:right">Total:</b></td>
              <td class="value-field" style="text-align: right; font-weight: bold"><%= @construsolution.costsC %></td>
              <td class="value-field" style="text-align: right; font-weight: bold"><%= @construsolution.costsM %></td>
            </tr>
            <tr>
              <td colspan="11">Bibliotecas do LCI: Ecoinvent system process</td>
            </tr>
            
          </table>



        </div>
      </div>
    </div>
  </div>
</section>