<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @base_material.description %>
</p>

<p>
  <strong>Adp:</strong>
  <%= @base_material.adp %>
</p>

<p>
  <strong>Gwp:</strong>
  <%= @base_material.gwp %>
</p>

<p>
  <strong>Odp:</strong>
  <%= @base_material.odp %>
</p>

<p>
  <strong>Ap:</strong>
  <%= @base_material.ap %>
</p>

<p>
  <strong>Pocp:</strong>
  <%= @base_material.pocp %>
</p>

<p>
  <strong>Ep:</strong>
  <%= @base_material.ep %>
</p>

<p>
  <strong>Enr:</strong>
  <%= @base_material.enr %>
</p>

<p>
  <strong>Er:</strong>
  <%= @base_material.er %>
</p>

<p>
  <strong>lambda:</strong>
  <%= @base_material.lambda %>
</p>

<%= link_to 'Edit', edit_base_material_path(@base_material) %> |
<%= link_to 'Back', base_materials_path %>
